@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Oswald:wght@300;400;700&family=Roboto:wght@700;900&display=swap');
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.woff2) format("woff2"), url(../fonts/ProximaNova-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: Lato;
}

.container {
    max-width: 810px;
    margin: 0 auto;
}

.hr__h1 {
    font-family: Lato;
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E212C;
    margin-bottom: 30px;
}

.hr__date {
    margin-bottom: 30px;
}

.hr__date-content {
    display: inline-block;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #787A80;
}

.hr__date-content-bg-1 {
    background: url(../img/calendar.png) no-repeat;
    padding-left: 20px;
    margin-right: 10px;
}

.hr__date-content-bg-2 {
    background: url(../img/chasi.png) no-repeat;
    padding-left: 20px;
}

.hr__img {
    margin-bottom: 60px;
}

.hr__h2 {
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E212C;
}

.hr__h2-1 {
    margin-bottom: 30px;
}

.hr__p-1 {
    margin-bottom: 30px;
}

.hr__h2-2 {
    padding-left: 60px;
    margin-bottom: 30px;
    background: url(../img/braces.png) top left no-repeat;
}

.hr__p {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E212C;
}

.hr__list {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    color: #1E212C;
    margin-bottom: 30px;
}

.hr__list-item {
    background: url(../img/check.png) top left no-repeat;
    padding-left: 30px;
    margin-bottom: 10px;
}


/* Footer */

.footer {
    padding-bottom: 30px;
}

.footer__ul {
    margin-bottom: 30px;
}

.hr__p-2 {
    margin-bottom: 30px;
}

.hr__p3 {
    padding-bottom: 30px;
}

.footer__list-item {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    Line-height: 25px;
    color: #1E212C;
    background: url(../img/check.png) 0px 6px no-repeat;
    padding-left: 30px;
    margin-bottom: 10px;
}

.footer__btn {
    width: 160px;
    height: 40px;
    padding: 10px 32px 10px 32px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}